.example {
  position: relative;
  background-color: @bg-grey;

  @media (min-width: @tablet-width) {
    background-color: white;
  }

  @media (min-width: @desktop-width) {
    background-color: @bg-grey;
    margin: 0 auto;
    min-width: 1300px;
  }
}

.example__caption-wrapper {
  background-color: @bg-grey;
  min-width: 320px;

  @media (min-width: @tablet-width) {
    background-color: white;
    border-top: 2px solid #f2f2f2;
    min-width: 768px;
  }

  @media (min-width: @tablet-width) {
    border: none;
  }
}

.example__caption {
  display: block;
  width: 280px;
  .ma;
  .regular;
  color: black;
  font-size: 36px;
  line-height: 60px;
  padding-top: 18px;
  padding-bottom: 22px;

  @media (min-width: @tablet-width) {
    padding-top: 45px;
    padding-bottom: 64px;
    font-size: 60px;
    width: 708px;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
    padding-left: 0px;
    padding-top: 82px;
    padding-bottom: 74px;
  }
}

.example__list-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 25px;

  @media (min-width: @tablet-width) {
    padding-top: 54px;
    background-color: white;
    padding-bottom: 254px;
  }

  @media (min-width: @desktop-width) {
    background-color: @bg-grey;
    padding-top: 69px;
    width: 367px;
    padding-bottom: 0;
    margin-left: 0;
  }
}

.example__center-wrapper {
  @media (min-width: @desktop-width) {
    width: 1220px;
    display: flex;
    .ma;
  }
}

.example__text-wrapper {
  background-color: @bg-grey;
  box-sizing: border-box;
  width: 320px;
  padding: 0 20px;
  .ma;

  @media (min-width: @tablet-width) {
    width: 768px;
    padding: 0 30px;
    background-color: white;
  }

  @media (min-width: @desktop-width) {
    width: 610px;
    padding: 0;
    background-color: @bg-grey;
  }
}

.example__cat-wrapper {
  @media (min-width: @tablet-width) {
    background-color: @bg-grey;
    min-height: 462px;
  }
}

.example__center-cat-wrapper {
  background-color: @bg-grey;
  width: 320px;
  padding-top: 33px;
  .ma;

  @media (min-width: @tablet-width) {
    width: 708px;
    padding: 0 30px;
    position: relative;
  }

  @media (min-width: @desktop-width) {
    width: 610px;
    padding: 0;
  }
}

.example__result {
  display: block;
  width: 124px;
  height: 56px;
  border: 1px solid #cdcdcd;
  border-radius: 2px;
  position: relative;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    width: 162px;
    height: 73px;
  }
}

.example__result--mass {
  @media (min-width: @tablet-width) {
    margin-right: 42px;
  }
}

.example__result--days {
  @media (min-width: @tablet-width) {
    margin-right: auto;
  }
}

.example__text {
  box-sizing: border-box;
  display: block;
  position: absolute;
  top: 31px;
  right: 18px;
  background-color: @bg-grey;
  z-index: 2;
  width: 88px;
  padding: 15px;
  height: 25px;
  .arial;
  color: black;
  font-size: 12px;
  line-height: 12px;
  text-align: center;

  @media (min-width: @tablet-width) {
    padding: 0;
    background-color: white;
    font-size: 14px;
    line-height: 14px;
    width: 140px;
    white-space: nowrap;
    top: 61px;
    right: 10px;
  }

  @media (min-width: @desktop-width) {
    background-color: @bg-grey;
  }
}

.example__before {
  display: block;
  height: 244px;
  padding-bottom: 30px;
  background-image: url("../img/before-mobile@1x.png");

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/before-mobile@2x.png");
    background-size: 320px 240px;

  }
  background-repeat: no-repeat;
  width: 320px;


  @media (min-width: @tablet-width) {
    position: absolute;
    background-image: url("../img/before-tablet@1x.png");

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/before-tablet@2x.png");
      background-size: 690px 517px;
    }
    background-repeat: no-repeat;
    width: 636px;
    height: 517px;
    top: -169px;
    left: 45px;
  }

  @media (min-width: @desktop-width) {
    top: -190px;
    left: -40px;
    width: 575px;
    height: 485px;
    background-image: url("../img/before-desktop@1x.png");

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/before-desktop@2x.png");
      background-size: 690px 517px;
    }
  }
}

.example__after {
  display: none;
  height: 244px;
  padding-bottom: 30px;
  background-image: url("../img/after-mobile@1x.png");

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/after-mobile@2x.png");
    background-size: cover;
  }
  background-repeat: no-repeat;
  width: 320px;

  @media (min-width: @tablet-width) {
    position: absolute;
    background-image: url("../img/after-tablet@1x.png");

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/after-tablet@2x.png");
      background-size: 690px 517px;
    }
    background-repeat: no-repeat;
    width: 636px;
    height: 517px;
    top: -170px;
    left: 45px;
  }

  @media (min-width: @desktop-width) {
    top: -190px;
    left: -42px;
    width: 690px;
    height: 517px;
  }
}

.example_switch:checked ~ .example__before {
  display: none;
}

.example_switch:checked ~ .example__after {
  display: block;
}

.example__description {
  .mp;
  .arial;
  color: black;
  font-size: 14px;
  line-height: 18px;
  width: 279px;

  @media (min-width: @tablet-width) {
    width: 700px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: @desktop-width) {
    width: 435px;
    padding-top: 71px;
    padding-left: 0;
  }
}

.example__number {
  position: relative;
  z-index: 3;
  .regular;
  color: black;
  font-size: 24px;
  line-height: 24px;
  .uppercase;
  display: block;
  padding-top: 13px;
  text-align: center;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.example__money-spent {
  width: 100%;
  .regular;
  color: black;
  font-size: 14px;
  line-height: 20px;
  display: block;
  .uppercase;
  .mp;
  padding-top: 34px;
  text-align: center;

  @media (min-width: @tablet-width) {
    padding-top: 5px;
    font-size: 20px;
    line-height: 30px;
    width: 181px;
    text-align: right;
  }

  @media (min-width: @desktop-width) {
    white-space: pre-wrap;
    width: 340px;
    padding-top: 54px;
    margin-left: -12px;
  }
}

.example__toggles {
  .regular;
  color: black;
  font-size: 16px;
  line-height: 20px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    border-bottom: 1px dashed #bebebe;
    line-height: 24px;
    box-sizing: border-box;

    &:hover {
      border-bottom: 1px solid #bebebe;
    }

    &:active {
      border-bottom: 1px solid rgba(0, 0, 0, 0);
    }
  }
}

.example__slider-wrapper {
  margin-left: 63px;
  .uppercase;
  width: 198px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 35px;

  @media (min-width: @tablet-width) {
    padding-top: 364px;
    width: 570px;
    margin-left: 68px;
    padding-bottom: 37px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 40px;
  }
}

.example__slider-bar {
  position: relative;
  display: block;
  box-sizing: border-box;
  width: 84px;
  height: 14px;
  background-color: white;
  border: 1px solid #cdcdcd;
  border-radius: 6px;
  margin-left: 6px;

  @media (min-width: @tablet-width) {
    border: none;
    background-color: #cdcdcd;
    width: 428px;
    height: 6px;
  }
}

.example__slider-bar small {
  position: absolute;
  content: "";
  width: 35px;
  height: 6px;
  background-color: @button-green;
  border-radius: 3px;
  top: 3px;
  left: 5px;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    width: 34px;
    height: 34px;
    border-radius: 40px;
    background-color: white;
    box-shadow: 0 0 3px black;
    top: -13px;
    left: 197px;

    &:hover {
      box-shadow: 0 1px 3px black;
    }

    &::before {
      position: absolute;
      content: "";
      width: 8px;
      height: 8px;
      border-radius: 4px;
      background-color: @button-green;
      top: 13px;
      left: 13px;
    }

    &:active {
      &::after {
        position: absolute;
        content: "";
        width: 34px;
        height: 34px;
        border: 2px solid @button-green;
        border-radius: 50%;
        top: -2px;
        left: -2px;
      }
    }
  }
}
