.extra__item-wrapper {
    display:flex;
    flex-wrap: wrap;
}
.extra__item { 
    width:280px;
    @media (min-width: @tablet-width){
        width:324px;
    }
    @media (min-width: @desktop-width){
        width:245px;
    }
}

.extra__caption {
    width:100%;
}