.extra {
  position: relative;
}

.extra::before {
  position: absolute;
  content: "";
  z-index: -1;
  width: 100vw;
  left: 50%;
  transform: translateX(-50%);
  height: 3px;
  background-color: @button-green;
  top: 37px;

  @media (min-width: @tablet-width) {
    top: 83px;
  }

  @media (min-width: @desktop-width) {
    top: 85px;
  }
}

.extra__item-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 320px;
  padding: 0 20px;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    width: 708px;
    padding: 0;
  }

  @media (min-width: @tablet-width) {
    justify-content: space-between;
    width: 100%;
    padding: 0;
  }
}

.extra__item-wrapper input {
  .visually-hidden;
}

.extra__item {
  position: relative;
  width: 280px;
  display: block;
  padding-left: 47px;
  line-height: 43px;

  &:active {
    opacity: 0.5;
  }

  &:hover {
    &::before {
      position: absolute;
      content: "";
      width: 28px;
      height: 28px;
      border: 1px solid #bababa;
      top: 8px;
      left: 1px;

      @media (min-width: @tablet-width) {
        width: 38px;
        height: 38px;
        border: 1px solid #bababa;
        top: 17px;
        left: 41px;
      }

      @media (min-width: @desktop-width) {
        width: 38px;
        height: 38px;
        border: 1px solid #bababa;
        top: 17px;
        left: 0;
      }
    }
  }

  &::before {
    position: absolute;
    content: "";
    width: 28px;
    height: 28px;
    border: 1px solid #cdcdcd;
    top: 8px;
    left: 1px;
  }

  @media (min-width: @tablet-width) {
    width: 345px;
    box-sizing: border-box;
    padding-left: 99px;
    line-height: 72px;

    &::before {
      position: absolute;
      content: "";
      width: 38px;
      height: 38px;
      border: 1px solid #cdcdcd;
      top: 17px;
      left: 41px;
    }
  }

  @media (min-width: @desktop-width) {
    width: 245px;
    padding-left: 58px;

    &::before {
      position: absolute;
      content: "";
      width: 38px;
      height: 38px;
      border: 1px solid #cdcdcd;
      top: 17px;
      left: 0;
    }
  }
}

.extra__caption {
  width: 170px;
  .regular;
  color: black;
  font-size: 24px;
  line-height: 24px;
  text-transform: none;
  margin: 0;
  padding-top: 24px;
  padding-bottom: 27px;
  padding-left: 20px;
  background-color: white;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-top: 37px;
    width: 294px;
    padding-left: 40px;
    padding-bottom: 40px;
    box-sizing: border-box;
  }

  @media (min-width: @desktop-width) {

    padding-top: 26px;
    width: 293px;
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
    margin-left: -40px;
  }
}

.extra__checkbox1:checked ~ .extra__item--1,
.extra__checkbox2:checked ~ .extra__item--2,
.extra__checkbox3:checked ~ .extra__item--3,
.extra__checkbox4:checked ~ .extra__item--4 {
  &::after {
    position: absolute;
    content: "";
    background-image: url("../img/tick.png");
    z-index: 2;
    width: 21px;
    height: 16px;
    top: 15px;
    left: 5px;
  }

  @media (min-width: @tablet-width) {
    &::after {
      position: absolute;
      content: "";
      background-image: url("../img/tick.png");
      z-index: 2;
      width: 21px;
      height: 16px;
      top: 28px;
      left: 52px;
    }
  }

  @media (min-width: @desktop-width) {
    &::after {
      position: absolute;
      content: "";
      background-image: url("../img/tick.png");
      z-index: 2;
      width: 21px;
      height: 16px;
      top: 28px;
      left: 9px;
    }
  }
}
