.form-contacts__caption {
  position: relative;
  padding: 0 20px;
  box-sizing: border-box;
  font-size: 24px;
  line-height: 24px;
  text-transform: none;
  width: 221px;
  white-space: normal;
  background-color: white;
  padding-right: 20px;
  margin-top: 27px;
  margin-bottom: 26px;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
    width: 594px;
    .mp;
    padding-left: 40px;
    padding-right:42px;
    padding-top: 75px;
    padding-bottom: 65px;
  }
}
.form-contacts {
  position:relative;
}
.form-contacts::before {
  position:absolute;
  content: "";
  z-index: -1;
  width: 1440px;
  height: 3px;
  background-color: @button-green;
  top: 40px;
  left: -500px;
  @media (min-width: @tablet-width) {
    top: 97px;
  }
}
.form-contacts__wrapper {
  width: 280px;
  .ma;
  display: flex;
  flex-wrap: wrap;
  @media (min-width: @tablet-width) {
    width: 640px;
  }
}
.form-contacts__item{
  width: 280px;
  height: 60px;
  .ma;
  display: flex;
  align-items: center;

  @media (min-width: @tablet-width) {
    width: 638px;
    padding-left: 10px;
    height:72px;
  }
}
.form-contacts__item input {
  position: relative;
  width: 100%;
  .regular;
  .uppercase;
  color: black;
  font-size: 16px;
  line-height: 39px;
  margin-left: 14px;
  padding-left: 13px;
  border: 1px solid #e6e6e6;
  color: #444444;

  @media (min-width: @tablet-width) {
    line-height: 48px;
    font-size: 20px;
    margin-left: 20px;
    padding-left: 15px;
  }
}
.form-contacts__item--email input{
  @media (min-width: @tablet-width) {
    padding-left: 20px;
  }
}
.form-contacts__item--email input{
  background-image: url("../img/icon-mail.svg");
  background-repeat: no-repeat;
  background-position: 97% 55%;

  @media (min-width: @tablet-width) {
    padding-left: 20px;
  }
}
.form-contacts__item--phone input {
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 97% 55%;

  @media (min-width: @tablet-width) {
    padding-left: 20px;
  }
}
