.form-cat-info {
  border-bottom: 1px solid #cdcdcd;
  padding-bottom: 14px;

  @media (min-width: @tablet-width) {
    padding-top: 25px;
    border-bottom: none;
    padding-bottom: 62px;
  }
}

.form-cat-info__item {
  width: 280px;
  height: 60px;
  .ma;
  display: flex;
  align-items: center;

  @media (min-width: @tablet-width) {
    width: 630px;
    height: 72px;
  }

  @media (min-width: @desktop-width) {
    width: 570px;
    margin: 0;
  }
}
.form-cat-info__input {
  width: 100%;
  .regular;
  .uppercase;
  color: black;
  font-size: 16px;
  line-height: 39px;
  margin-left: 15px;
  padding-left: 13px;
  border: 1px solid #e6e6e6;
  color: #444444;

  &:hover {
   border: 1px solid #cdcdcd;
  }

  &:active {
    border: 1px solid black;
    outline: 1px solid black;
  }


  @media (min-width: @tablet-width) {
    line-height: 52px;
    font-size: 20px;
    margin-left: 27px;
  }
}
