.form-cat-info__item {
    width:280px;
    height:60px;
    .ma;
    @media (min-width: @tablet-width){
        width:631px;
    }
    @media (min-width: @desktop-width){
        width:570px;
        margin: 0;
    }
}
