.form-contacts__caption {
  position: relative;
  padding: 0 20px;
  box-sizing: border-box;
  font-size: 24px;
  line-height: 24px;
  text-transform: none;
  width: 230px;
  white-space: normal;
  background-color: white;
  margin-top: 27px;
  margin-bottom: 26px;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
    width: 620px;
    .mp;
    padding-left: 40px;
    padding-right: 32px;
    padding-top: 75px;
    padding-bottom: 65px;
  }

  @media (min-width: @desktop-width) {
    box-sizing: border-box;
    width: 618px;
    padding: 0;
    padding-left: 38px;
    margin-left: -40px;
  }
}

.form-contacts {
  position: relative;
}

.form-contacts::before {
  position: absolute;
  content: "";
  z-index: -1;
  width: 100vw;
  left: 50%;
  transform: translateX(-50%);
  height: 3px;
  background-color: @button-green;
  top: 42px;

  @media (min-width: @tablet-width) {
    top: 97px;
  }

  @media (min-width: @desktop-width) {
    top: 21px;
  }
}

.form-contacts__wrapper {
  width: 280px;
  .ma;
  display: flex;
  flex-wrap: wrap;

  @media (min-width: @tablet-width) {
    width: 640px;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
    padding-top: 64px;
    justify-content: space-between;
  }
}

.form-contacts__item {
  width: 280px;
  height: 60px;
  .ma;
  display: flex;
  align-items: center;

  @media (min-width: @tablet-width) {
    width: 638px;
    padding-left: 7px;
    height: 72px;
  }

  @media (min-width: @desktop-width) {
    width: 572px;
    .mp;
  }
}

.form-contacts__item:nth-child(2) sup{
  @media (min-width: @tablet-width) {
    display: block;
    margin-right: -5px;
  }

  @media (min-width: @desktop-width) {
    margin-right: -3px;
  }
}

.form-contacts__input {
  position: relative;
  width: 100%;
  .regular;
  .uppercase;
  font-size: 16px;
  line-height: 39px;
  margin-left: 14px;
  padding-left: 13px;
  border: 1px solid #e6e6e6;
  color: #444444;
  height: 41px;

  @media (min-width: @tablet-width) {
    line-height: 48px;
    font-size: 20px;
    margin-left: 20px;
    padding-left: 15px;
    height: 48px;
  }

  @media (min-width: @tablet-width) {
    margin-left: 22px;
    padding-left: 14px;
  }
}

.form-contacts__input--email {
  background-image: url("../img/icon-mail.svg");
  background-repeat: no-repeat;
  background-position: 92% 50%;

  &:hover {
    border: 1px solid #cdcdcd;
  }

  &:focus {
    background-image: url("../img/icon-mail-green.svg");
    border: 1px solid black;
    outline: 1px solid black;
  }

  @media (min-width: @tablet-width) {
    padding-left: 20px;
    background-position: 96% 50%;
  }

  @media (min-width: @desktop-width) {
    background-position: 95% 53%;
  }
}

.form-contacts__input--email-red {
  background-image: url("../img/icon-mail-red.svg");
}

.form-contacts__input--phone {
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 93% 50%;

  &:hover {
    border: 1px solid #cdcdcd;
  }

  &:focus {
    background-image: url("../img/icon-phone-green.svg");
    border: 1px solid black;
    outline: 1px solid black;
  }

  @media (min-width: @tablet-width) {
    padding-left: 20px;
    background-position: 96.7% 53%;
  }

  @media (min-width: @desktop-width) {
    padding-left: 17px;
    background-position: 95.7% 53%;
  }
}

.form-contacts__input--phone-red {
  background-image: url("../img/icon-phone-red.svg");
}
