.form-cat-info {
  border-bottom: 1px solid #cdcdcd;
  padding-bottom: 17px;

  @media (min-width: @tablet-width) {
    padding-top: 24px;
    border-bottom: none;
    padding-bottom: 62px;
    width: 708px;
    box-sizing: border-box;
  }

  @media (min-width: @desktop-width) {
    width: 570px;
    padding-bottom: 60px;
    padding-top: 25px;
  }
}

.form-cat-info__item {
  width: 280px;
  height: 59px;
  .ma;
  display: flex;
  align-items: center;

  @media (min-width: @tablet-width) {
    width: 630px;
    height: 72px;
    margin: 0;
    padding-left: 42px;
  }

  @media (min-width: @desktop-width) {
    width: 570px;
    margin: 0;
    padding-left: 0;
  }
}

.form-cat-info__input {
  width: 100%;
  .regular;
  .uppercase;
  font-size: 16px;
  line-height: 39px;
  margin-left: 17px;
  padding-left: 13px;
  border: 1px solid #e6e6e6;
  color: #444444;
  height: 41px;

  &:hover {
    border: 1px solid #cdcdcd;
  }

  &:active {
    border: 1px solid black;
    outline: 1px solid black;
  }


  @media (min-width: @tablet-width) {
    line-height: 48px;
    font-size: 20px;
    margin-left: 19px;
    height: 48px;
    padding-left: 18px;
  }
}
