.page-form {
  width: 320px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 768px;
    padding: 0 30px;
    box-sizing: border-box;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    width: 1440px;
    padding: 0 110px;
    margin: 0 auto;
  }
}

.page-form__caption {
  .regular;
  color: black;
  font-size: 36px;
  line-height: 60px;
  .mp;
  padding: 0 20px;
  padding-top: 15px;
  padding-bottom: 1;
  width: 280px;
  .ma;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    padding-top: 31px;
    padding-left: 0;
    padding-right: 0;
    width: 708px;
  }

  @media (min-width: @desktop-width) {
    .mp;
    padding-top: 12px;
    .ma;
    width: 1220px;
  }
}

.page-form__description {
  .regular;
  color: black;
  .uppercase;
  font-size: 14px;
  line-height: 18px;
  .mp;
  width: 280px;
  padding-right: 50px;
  box-sizing: border-box;
  padding-top: 25px;
  .ma;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding-top: 55px;
    padding-right: 284px;
    width: 628px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 0;
    width:1220px;
    padding-right: 895px;
  }
}
