.page-form {
  width: 320px;
  margin: 0 auto;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    width: 768px;
    padding: 0 30px;
    box-sizing: border-box;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    width: 1440px;
    padding: 0 110px;
    margin: 0 auto;
  }
}

.page-form__caption {
  .regular;
  color: black;
  font-size: 36px;
  line-height: 60px;
  .mp;
  padding: 0 20px;
  padding-top: 15px;
  padding-bottom: 1;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    padding-top: 31px;
    padding-left: 0;
  }

  @media (min-width: @desktop-width) {
    .mp;
    padding-top: 17px;
  }
}

.page-form__description {
  .regular;
  color: black;
  .uppercase;
  font-size: 14px;
  line-height: 18px;
  .mp;
  width: 229px;
  padding: 0 20px;
  padding-top: 25px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    width: 330px;
    padding-top: 55px;
    padding-left: 40px;
  }

  @media (min-width: @tablet-width) {
    padding-left: 0;
  }
}
