.page-footer {
  background-color: @bg-grey;
  position: relative;
}

.page-footer__wrapper {
  width: 320px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 20px;
  display: block;


  @media (min-width: @tablet-width) {
    box-sizing: border-box;
    width: 768px;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 150px;
  }

  @media (min-width: @desktop-width) {
    width: 1440px;
    padding: 0 110px;
  }
}

.page-footer__map-wrapper {
  height: 362px;
  width: 100%;
  background-image: url("../img/bg-map-mobile@1x.png");
  background-position: center;
  background-repeat: no-repeat;

  @media (min-resolution: @retina-dpi),
  (min-resolution: @retina-dppx) {
    background-image: url("../img/bg-map-mobile@2x.png");
  }

  @media (min-width: @tablet-width) {
    height: 397px;
    background-image: url("../img/bg-map-tablet@1x.png");

    @media (min-resolution: @retina-dpi),
    (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-map-tablet@2x.png");
      background-size: 768px 397px;
    }
  }

  @media (min-width: @desktop-width) {
    height: 399px;
    background-image: url("../img/bg-map-desktop@1x.png");

    @media (min-resolution: @retina-dpi),
      (min-resolution: @retina-dppx) {
        background-image: url("../img/bg-map-desktop@2x.png");
        background-size: 1440px 399px;
    }
  }
}

.page-footer__logo {
  display: block;
  .ma;
  height: 24px;
  width: 128px;
  padding-top: 40px;
  padding-bottom: 30px;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.4;
  }

  @media (min-width: @tablet-width) {
    .mp;
    padding-right: 29px;
  }
}
