.page-footer {
    background-color:@bg-grey;
    position: relative;
}
.page-footer__wrapper  {
    width: 320px;
    margin: 0 auto;
    @media (min-width: @tablet-width) {
    width: 708px;
    padding:0 30px;
  }

    @media (min-width:@desktop-width) {
    width: 1220px;
    padding:0 40px;
  }
}

.partnership__map-wrapper {
    width: 100vw;
}

.page-footer__wrapper{
    display: block;

    @media (min-width: @tablet-width) {
        display:flex;
        justify-content: space-between;
    }
}

.page-footer__logo{
    width:130px;
    height:26px;
}

.page-footer__logo{
    display:block;
    margin:0 auto;
    height: 25px;
    width:129px;
}
