.page-header {
  width: 320px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 768px;
    box-sizing: border-box;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    width: 1440px;
    padding: 0 110px;
    position: relative;
    z-index: 2;
  }
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  min-height: 66px;
  align-items: center;

  @media (min-width: @tablet-width) {
    min-height: 105px;
    padding: 0;
    margin-left: -12px;
    padding-top: 5px;
  }

  @media (min-width: @desktop-width) {
    min-height: 172px;
    margin: 0;
  }
}

.page-header__nav-wrapper {
  display: none;

  @media (min-width: @tablet-width) {
    display: flex;
    align-items: center;
  }
}

.menu_switch:checked ~ .page-header__nav-wrapper {
  display: block;
}

.page-header__wrapper label {
  @media (min-width: @tablet-width) {
    .visually-hidden;
  }
}

.page-header__menu-button {
  display: block;
  background-image: url("../img/mobile-menu-open.png");
  width: 24px;
  height: 18px;
}
.page-header__logo {
  margin-left: -10px;
  width: 101px;
  height: 18px;

  @media (min-width: @tablet-width) {
    display: none;
  }
}
.page-header__icon {
  margin-top: -5px;

  @media (min-width: @tablet-width) {
    width: 173px;
    height: 58px;
  }

  @media (min-width: @tablet-width) {
    width: 202px;
    height: 60px;
  }
}
