.partnership {
  background-color: white;

  @media (min-width: @tablet-width) {
    min-width: 768px;
  }

  @media (min-width: @desktop-width) {
    position: relative;
    width: 1300px;
    padding: 0 40px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0);
    .ma;
  }
}

.partnership--form {
  background-color: @bg-grey;
}

.partnership__wrapper {
  display: flex;
  justify-content: space-between;
  width: 320px;
  padding: 0 20px;
  box-sizing: border-box;
  .ma;
  padding-top: 28px;
  padding-bottom: 26px;

  @media (min-width: @tablet-width) {
    padding: 0;
    width: 632px;
    padding-top: 65px;
    padding-bottom: 38px;
    .ma;
  }

  @media (min-width: @desktop-width) {
    .mp;
    position: absolute;
    box-sizing: border-box;
    width: 575px;
    min-height: 201px;
    top: 95px;
    padding: 0 73px;
    padding-top: 65px;
    background-color: white;
    z-index: 2;
  }
}

.partnership__invite {
  .regular;
  .uppercase;
  color: black;
  font-size: 16px;
  line-height: 20px;
  .mp;
  width: 140px;
  white-space: pre-wrap;

  @media (min-width: @tablet-width) {
    padding-left: 2px;
    font-size: 20px;
    line-height: 24px;
    width: 170px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 3px;
    margin-top: 2px;
    font-size: 20px;
    line-height: 24px;
    width: 170px;
  }
}

.partnership__address {
  .arial;
  .mp;
  color: black;
  font-size: 14px;
  line-height: 20px;
  width: 140px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    width: 170px;
    white-space: pre-wrap;
    margin-top: -4px;
    margin-right: 5px;
  }

  @media (min-width: @desktop-width) {
    text-align: left;
    margin-top: -3px;
    width: 177px;
    line-height: 21px;
    white-space: pre-wrap;
    margin-right: 0;
  }
}
