.partnership {
  background-color: white;
}

.partnership__wrapper{
  display: flex;
  justify-content: space-between;
  width: 320px;
  padding: 0 20px;
  .ma;

  @media (min-width: @tablet-width) {
    width: 708px;
    padding: 0 30px;
  }

  @media (min-width:@desktop-width) {
    width: 1220px;
    padding: 0 40px;
    }
}

.partnership__invite {
  .regular;
  .uppercase;
  .text-black;
  font-size: 16px;
  line-height: 20px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    }
}

.partnership__address {
  .arial;
  .text-black;
  font-size: 14px;
  line-height: 20px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    }
}
