.partnership {
  background-color: white;
}

.partnership__wrapper {
  display: flex;
  justify-content: space-between;
  width: 320px;
  padding: 0 20px;
  box-sizing: border-box;
  .ma;
  padding-top: 28px;
  padding-bottom: 26px;

  @media (min-width: @tablet-width) {
    padding: 0;
    width: 627px;
    padding-top: 65px;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
    padding: 0 40px;
  }
}

.partnership__invite {
  .regular;
  .uppercase;
  color: black;
  font-size: 16px;
  line-height: 20px;
  .mp;
  width: 140px;
  @media (min-width: @tablet-width) {
    font-size: 20px;
  }
}

.partnership__address {
  .arial;
  .mp;
  color: black;
  font-size: 14px;
  line-height: 20px;
  width: 140px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
  }
}
