.product-description {
  padding: 0 20px;
  padding-bottom: 28px;
  width: 280px;
  .ma;

  @media (min-width: @tablet-width) {
    width: 708px;
    padding: 0 30px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 40px;
    width: 1220px;
  }
}

.product-description__list {
  list-style: none;
  .mp;

  @media (min-width: @tablet-width) {
    .mp;
    display: flex;
    align-content: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.product-description__item {
  .arial;
  color: black;
  font-size: 14px;
  line-height: 18px;
  width: 200px;
  padding-left: 80px;
  padding-top: 8px;
  min-height: 72px;
  position: relative;

  @media (min-width: @tablet-width) {
    .mp;
    padding-right: 78px;
    padding-top: 112px;
    box-sizing: border-box;
    width: 324px;
    min-height: 285px;
    margin-bottom: 32px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: @desktop-width) {
    .mp;
    width: 245px;
    min-height: 228px;
    margin-right: 80px;
    padding-top: 112px;
  }
}

.product-description__item:nth-child(3),
.product-description__item:nth-child(4) {
  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }
}

.product-description__item:nth-child(4) {
  @media (min-width: @desktop-width) {
    margin-right: 0;
  }
}

.product-description__caption {
  .regular;
  color: black;
  font-size: 36px;
  line-height: 50px;
  .mp;
  padding-bottom: 28px;
  padding-top: 1px;


  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    padding-top: 15px;
    padding-bottom: 72px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 73px;
    padding-bottom: 72px;
  }
}

.product-description__item--nutrition {
  &::before {
    position: absolute;
    content: "";
    background-image: url("../img/advantage-leaf@1x.png");

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/advantage-leaf@2x.png");
      background-size: 50px 50px;
    }
    background-color: @button-green;
    background-position: center;
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    left: 0;
    top: 7px;

    @media (min-width: @tablet-width) {
      width: 80px;
      height: 80px;
      background-repeat: no-repeat;
      left: 0;
      top: 0;
    }
  }

  @media (min-width: @tablet-width) {
    &::after {
      z-index: -1;
      position: absolute;
      content: "1";
      .regular;
      color: #f2f2f2;
      font-size: 281px;
      line-height: 281px;
      top: -38px;
      left: 117px;
    }
  }
}

.product-description__item--powder {
  &::before {
    position: absolute;
    content: "";
    background-image: url("../img/advantage-powder@1x.png");

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/advantage-powder@2x.png");
      background-size: 50px 50px;
    }
    background-color: @button-green;
    background-position: center;
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    left: 0;
    top: 6px;

    @media (min-width: @tablet-width) {
      width: 80px;
      height: 80px;
      left: 0;
      top: 0;
    }
  }

  @media (min-width: @tablet-width) {
    &::after {
      z-index: -1;
      position: absolute;
      content: "2";
      .regular;
      color: #f2f2f2;
      font-size: 281px;
      line-height: 281px;
      top: -38px;
      left: 112px;
    }
  }
}

.product-description__item--change {
  &::before {
    position: absolute;
    content: "";
    background-image: url("../img/advantage-dining@1x.png");

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/advantage-dining@2x.png");
      background-size: 50px 50px;
    }
    background-color: @button-green;
    background-position: center;
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    left: 0;
    top: 6px;

    @media (min-width: @tablet-width) {
      width: 80px;
      height: 80px;
      left: 0;
      top: 0;
    }
  }

  @media (min-width: @tablet-width) {
    &::after {
      z-index: -1;
      position: absolute;
      content: "3";
      .regular;
      color: #f2f2f2;
      font-size: 281px;
      line-height: 281px;
      top: -38px;
      left: 114px;
    }
  }
}

.product-description__item--month {
  &::before {
    position: absolute;
    content: "";
    background-image: url("../img/advantage-clock@1x.png");
    background-color: @button-green;
    background-position: center;
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    left: 0;
    top: 6px;
  }

  @media (min-width: @tablet-width) {
    &::before {
      position: absolute;
      content: "";
      background-image: url("../img/advantage-clock@1x.png");

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("../img/advantage-clock@2x.png");
        background-size: 60%;
      }
      background-color: @button-green;
      background-position: center;
      width: 80px;
      height: 80px;
      background-repeat: no-repeat;
      left: 0;
      top: 0;
    }

    &::after {
      z-index: -1;
      position: absolute;
      content: "4";
      .regular;
      color: #f2f2f2;
      font-size: 281px;
      line-height: 281px;
      top: -38px;
      left: 114px;
    }
  }
}
