.product-description {
    padding:0 20px;
    @media (min-width: @tablet-width) {
        padding:0 30px;
    }
    @media (min-width: @desktop-width) {
    padding:0 110px;
    }
}
.product-description__list {
    list-style: none;
    .mp;
    display: block;
    @media (min-width: @tablet-width) {
        .mp;
        display: flex;
        align-content: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;
        }
}

.product-description__item{
    min-height: 60px;
    margin-bottom: 20px;
    .arial;
    .text-black;
    font-size: 14px;
    line-height:18px;
    @media (min-width: @tablet-width) {
        background-color: aqua;
        width:324px;
        min-height: 286px;
        font-size: 16px;
        line-height:24px;
    }
    @media (min-width: @desktop-width) {
        .mp;
        width:245px;
        min-height: 228px;
        margin-right: 80px;
    }
}
.product-description__item:nth-child(1) ,
.product-description__item:nth-child(2) {
        @media (min-width: @tablet-width) {
            margin-bottom: 30px;
        }
        @media (min-width: @desktop-width) {
        margin-bottom: 0;
        }
    }
    .product-description__item:nth-child(4n){
        @media (min-width: @desktop-width) {
        margin-right:0px;
        }
    }

.product-description__caption{
    .regular;
    .text-black;
    font-size: 36px;
    line-height: 60px;
    @media (min-width: @tablet-width) {
        font-size: 60px;
    }
}