.promo {
    width:320px;
    min-height: 502px;
    background-image: url(../img/index-mobile.jpg);
    background-repeat: no-repeat;
    background-size:auto;
    @media (min-width: @tablet-width) {
        width:708px;
        padding: 0 30px;
        min-height: 840px;
        background-image: url(../img/index-tablet.jpg);
        background-repeat: no-repeat;
        background-size:auto;
        background-position: bottom;
    }
    @media (min-width: @desktop-width) {
        width:1440px;
        background-image: url(../img/index-desktop.jpg);
        background-size:contain;
        background-position:100% 0;
    }
}
