.selection {
  display:flex;
  flex-wrap: wrap;
}
.selection__wrapper-top {
  display: flex;
  flex-wrap: wrap;
  padding-top: 31px;
  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
  }
}

.selection__item {
  display: flex;
  flex-wrap: wrap;
  .regular;
  .uppercase;
  color: black;
  font-size: 16px;
  line-height: 18px;
  white-space: nowrap;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.selection__wrapper-contacts {
  display: flex;
  flex-wrap: wrap;

  @media (min-width: @desktop-width) {
    justify-content: space-between;
    width: 100%;
  }
}

.selection__comments {
  position: relative;
  &::before {
    position:absolute;
    content: "";
    z-index: -1;
    width: 100vw;
    left: 50%;
    transform: translate(-50%);
    height: 3px;
    background-color: @button-green;
    top: 34px;
  }

  @media (min-width: @tablet-width) {
    width: 708px;

    box-sizing: border-box;
    &::before {
      position:absolute;
      content: "";
      z-index: -1;
      width: 100vw;
      left: 50%;
      transform: translate(-50%);
      height: 3px;
      background-color: @button-green;
      top: 74px;
    }
    @media (min-width: @desktop-width) {
      width: 100%;
      &::before {
        position:absolute;
        content: "";
        z-index: -1;
        width: 100vw;
        left: 50%;
        transform: translate(-50%);
        height: 3px;
        background-color: @button-green;
        top: 79px;
      }
    }
  }
}

.selection__caption {
  position: relative;
  width: 120px;
  padding: 0 20px;
  .regular;
  color: black;
  font-size: 24px;
  line-height: 24px;
  background-color: white;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
    width: 259px;
    padding: 0 40px;
    padding-top: 25px;
  }

  @media (min-width: @desktop-width) {
    .mp;
    padding: 0 40px;
    padding-top: 58px;
    width: 218px;
    padding-bottom: 30px;
    box-sizing: border-box;
    width: 260px;
    margin-left: -40px;
  }
}

.selection__comments textarea {
  margin-top: 15px;
  margin-left: 20px;
  box-sizing: border-box;
  .uppercase;
  .regular;
  font-size: 16px;
  line-height: 18px;
  padding-left: 16px;
  padding-right: 5px;
  padding-top: 13px;
  padding-bottom: 9px;

  @media (min-width: @tablet-width) {
    margin-top: 47px;
    margin-left: 42px;
    width: 630px;
    font-size: 20px;
    line-height: 30px;
    padding-top: 10px;
    padding-left: 18px;
    height: 174px;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
    margin-top: 45px;
    margin-left: 2px;
    padding-left: 14px;
  }
}
.selection-button {
  width: 280px;
  margin: 0 20px;
  margin-top: 26px;
  background-color: @button-green;
  border: none;
  .regular;
  .uppercase;
  color: white;
  font-size: 16px;
  line-height: 40px;

  &:hover{
    background-color: @button-green-hvr;
  }

  &:active{
    background-color: @button-green-hvr;
    color: rgba(255, 255, 255, 0.4);
  }

  @media (min-width: @tablet-width) {
    padding: 0;
    margin-left: 40px;
    margin-top: 38px;
    width: 282px;
    line-height: 52px;
    font-size: 20px;
    margin-bottom: 73px;
  }
  @media (min-width: @desktop-width) {
    width: 570px;
    margin-top: 46px;
    margin-left: 0;
    margin-bottom: 82px;
  }
}

.selection__notice {
  .arial;
  color: @text-gray;
  font-size: 14px;
  line-height: 16px;
  display: block;
  width: 157px;
  margin: 0 auto;
  margin-top: 20px;
  padding-left: 2px;
  margin-bottom: 32px;


  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 18px;
    margin:0;
    width: 181px;
    margin-top: 50px;
    margin-left: 41px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 56px;
    margin-left: 58px;
  }
}

.selection__red-border {
  border: 1px solid red;
  outline: 1px solid red;
  &:hover {
    border: 1px solid red;
  }
}
