.social {
  .ma;
  width: 280px;
  display: flex;
  justify-content: center;
  border-top: 1px solid #cdcdcd;
  border-bottom: 1px solid #cdcdcd;

  @media(min-width: @tablet-width) {
    border:none;
  }
}

.social__link {
  width: 52px;
  height: 50px;
  padding: 6px 0;

  @media(min-width: @tablet-width) {
    .mp;
  }
}

.social__link--vkontakte {
  background-image: url("../img/icon-vk.svg");
  background-size: 22px 12px;
  background-repeat: no-repeat;
  background-position: center;

  &:hover {
    background-image: url("../img/icon-vk-green.svg");
  }
  &:active {
    background-image: url("../img/icon-vk-green.svg");
    opacity: 0.5;
  }

  @media(min-width: @tablet-width) {
    background-size: auto;
  }
}

.social__link--instagram {
  background-image: url("../img/icon-insta.svg");
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: center;

  &:hover {
    background-image: url("../img/icon-insta-green.svg");
  }
  &:active {
    background-image: url("../img/icon-insta-green.svg");
    opacity: 0.5;
  }
  @media(min-width: @tablet-width) {
    background-size: auto;
  }
}

.social__link--facebook {
  background-image: url("../img/icon-fb.svg");
  background-size: 10px 19px;
  background-repeat: no-repeat;
  background-position: center;
  &:hover {
    background-image: url("../img/icon-fb-green.svg");
  }
  &:active {
    background-image: url("../img/icon-fb-green.svg");
    opacity: 0.5;
  }
  @media(min-width: @tablet-width) {
    background-size: auto;
  }
}

