.targets {
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
    padding: 0 110px;
  }
}

.targets__item {
  min-height: 266px;
  background-color: @bg-grey;
  margin-bottom: 20px;

  box-sizing: border-box;
  position: relative;

  @media (min-width: @tablet-width) {
    width: 708px;
    min-height: 372px;
    box-sizing: border-box;
    padding-left: 53px;
    margin-bottom: 30px;
  }

  @media (min-width: @desktop-width) {
    min-height: 372px;
    width: 570px;
  }
}

.targets__title {
  .mp;
  .regular;
  color: black;
  .uppercase;
  font-size: 24px;
  line-height: 97px;
  margin-left: 92px;


  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 37px;
    margin-left: 0;
    padding-top: 76px;
    padding-bottom: 25px;
  }
}

.targets__description {
  .mp;
  .arial;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin:0 20px;
  padding-bottom: 22px;
  border-bottom: 1px solid @text-gray;

  @media (min-width: @tablet-width) {
    .mp;
    width: 375px;
    font-size: 16px;
    line-height: 24px;
    border-bottom: none;
  }
}

.targets__button {
  position: relative;
  display: block;
  .regular;
  color: black;
  .uppercase;
  text-decoration: none;
  margin-left: 20px;
  padding-top: 19px;
  font-size: 16px;
  line-height: 16px;

  &::before {
    position: absolute;
    content: "";
    background-image: url("../img/icon-right-arrow-long.svg");
    width: 24px;
    width: 24px;
    height: 11px;
    background-repeat: no-repeat;
    left: 97px;
    top:21px;
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    .mp;
    padding-top: 56px;
    &::before {
      position: absolute;
      content: "";
      background-image: url("../img/icon-right-arrow-long.svg");
      width: 24px;
      width: 24px;
      height: 11px;
      background-repeat: no-repeat;
      left: 130px;
      top: 61px;
    }
  }
}

.targets__title--slim {
  &::before {
    position: absolute;
    content: "";
    background-image: url("../img/icon-slim-mobile.png");
    background-size: cover;
    width: 50px;
    height: 53px;
    top: 21px;
    left: 22px;
  }

  @media (min-width: @tablet-width) {
    &::before {
      position: absolute;
      content: "";
      background-image: url("../img/icon-slim-mobile.png");
      background-size: cover;
      width: 200px;
      height: 212px;
      top: 80px;
      left: 447px;
    }
  }
}

.targets__title--mass {
  &::before {
    position: absolute;
    content: "";
    background-image: url("../img/icon-mass-mobile.png");
    background-size: cover;
    width: 67px;
    height: 50px;
    top: 23px;
    left: 14px;
  }

  @media (min-width: @tablet-width) {
    &::before {
      position: absolute;
      content: "";
      background-image: url("../img/icon-mass-mobile.png");
      background-size: cover;
      width: 268px;
      height: 200px;
      top: 92px;
      left: 413px;
    }
  }
}

.targets__description__mass {
  @media (min-width: @tablet-width) {
    width:340px;
  }
}
