.targets {
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
    padding: 0 110px;
    padding-top: 80px;
  }
}

.targets__item {
  min-height: 266px;
  background-color: @bg-grey;
  margin-bottom: 20px;

  box-sizing: border-box;
  position: relative;

  @media (min-width: @tablet-width) {
    width: 708px;
    min-height: 372px;
    padding-left: 53px;
    margin-bottom: 30px;
  }

  @media (min-width: @desktop-width) {
    min-height: 372px;
    margin: 0;
    width: 570px;
  }
}

.targets__title {
  .mp;
  .regular;
  color: black;
  .uppercase;
  font-size: 24px;
  line-height: 97px;
  margin-left: 92px;


  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 37px;
    margin-left: 0;
    padding-top: 76px;
    padding-bottom: 25px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 162px;
  }
}

.targets__description {
  .mp;
  .arial;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin: 0 20px;
  padding-bottom: 22px;
  border-bottom: 1px solid @text-gray;

  @media (min-width: @tablet-width) {
    .mp;
    width: 375px;
    font-size: 16px;
    line-height: 24px;
    border-bottom: none;
  }

  @media (min-width: @desktop-width) {
    width: 470px;
    padding-top: 49px;
  }
}

.targets__button {
  position: relative;
  display: block;
  .regular;
  color: black;
  .uppercase;
  text-decoration: none;
  margin-left: 20px;
  padding-top: 19px;
  font-size: 16px;
  line-height: 16px;

  &::before {
    position: absolute;
    content: "";
    background-image: url("../img/icon-right-arrow-long.svg");
    width: 24px;
    height: 11px;
    background-repeat: no-repeat;
    left: 97px;
    top: 21px;
  }

  &:hover {
    &::before {
      position: absolute;
      content: "";
      background-image: url("../img/icon-right-arrow-verylong.svg");
      width: 32px;
      height: 11px;
      background-repeat: no-repeat;
      left: 97px;
      top: 21px;
    }
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    .mp;
    padding-top: 56px;

    &::before {
      position: absolute;
      content: "";
      background-image: url("../img/icon-right-arrow-long.svg");
      width: 24px;
      height: 11px;
      background-repeat: no-repeat;
      left: 130px;
      top: 61px;
    }

    &:hover{

      &::before {
        position: absolute;
        content: "";
        background-image: url("../img/icon-right-arrow-verylong.svg");
        width: 32px;
        height: 11px;
        background-repeat: no-repeat;
        left: 130px;
        top: 61px;
      }
    }
  }

  @media (min-width: @desktop-width) {
    padding-top: 32px;

    &::before {
      position: absolute;
      content: "";
      background-image: url("../img/icon-right-arrow-long.svg");
      width: 24px;
      height: 11px;
      background-repeat: no-repeat;
      left: 130px;
      top: 35px;
    }

    &:hover{

      &::before {
        position: absolute;
        content: "";
        background-image: url("../img/icon-right-arrow-verylong.svg");
        width: 32px;
        height: 11px;
        background-repeat: no-repeat;
          left: 130px;
        top: 35px;
      }
    }
  }

  &:active {
    opacity: 0.6;
  }
}

.targets__title--slim {
  &::before {
    position: absolute;
    content: "";
    background-image: url("../img/icon-cat-slim.svg");
    background-size: cover;
    width: 35px;
    height: 49px;
    top: 21px;
    left: 30px;
    z-index: 2;

    @media (min-width: @tablet-width) {
      width: 140px;
      height: 194px;
      top: 80px;
      left: 475px;
    }

    @media (min-width: @desktop-width) {
      width: 70px;
      height: 97px;
      top: 41px;
      left: 65px;
    }
  }

  &::after {
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: @button-green;
    top: 24px;
    left: 23px;
    z-index: 1;

    @media (min-width: @tablet-width) {
      width: 200px;
      height: 200px;
      top: 92px;
      left: 445px;
    }

    @media (min-width: @desktop-width) {
      width: 100px;
      height: 100px;
      top: 48px;
      left: 51px;
    }
  }
}

.targets__title--mass {
  &::before {
    position: absolute;
    content: "";
    background-image: url("../img/icon-cat-pro.svg");
    background-size: cover;
    width: 67px;
    height: 28px;
    top: 35px;
    left: 14px;
    z-index: 2;

    @media (min-width: @tablet-width) {
      width: 268px;
      height: 112px;
      top: 135px;
      left: 412px;
    }

    @media (min-width: @desktop-width) {
      width: 134px;
      height: 56px;
      top: 70px;
      left: 34px;
    }
  }

  &::after {
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: @button-green;
    top: 24px;
    left: 23px;
    z-index: 1;

    @media (min-width: @tablet-width) {
      width: 200px;
      height: 200px;
      top: 92px;
      left: 446px;
    }

    @media (min-width: @desktop-width) {
      width: 100px;
      height: 100px;
      top: 48px;
      left: 51px;
    }
  }
}

.targets__description__mass {
  @media (min-width: @tablet-width) {
    width: 340px;
  }

  @media (min-width: @desktop-width) {
    width: 475px;
  }
}
